.header {
    font-family: monospace;
    text-align: center;
    font-size: 16px;
    width: 500px;
    height: 80px;
    border: 10px solid rgb(81, 210, 224);
    background: white;
    color: rgb(0, 0, 0);
    border-radius: 50px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;;
}
.image {
    font-family: monospace;
    text-align: center;
    font-size: 16px;
    width: 530px;
    height: auto;
    border: 10px solid rgb(81, 210, 224);
    background: white;
    color: rgb(0, 0, 0);
    border-radius: 50px;
    margin: auto;
    padding: 30px;
}
.sub {
    font-family: monospace;
    color: black;
    font-size: 25px;
    border: 10px solid white;
    width: 500px;
    height: 170px;
    word-wrap: break-word;
    text-align: center;
}
img {
    border-radius: 100%;
    height: 200px;
    margin-right: 5%;
    border: 10px solid rgb(206, 250, 255);
}
body {
    background-image: url(tree-snow.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    color:white;
    padding: 0px;
    margin: 0px;
}